.anhnen {
  background-image: url("http://movie0706.cybersoft.edu.vn/hinhanh/john-wick-iiisssssssssxxxssssssssssssssssssss_gp09.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(15px);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
